{
  "batman": {
    "instance": "https://pixelfed.de",
    "username": "batman",
    "token": "pf_at_abcdef1234567890abcdef...",
    "cache_ttl": 1800,
    "max_pictures": 6,
    "theme_mode": "auto"
  },
  "jocker": {
    "instance": "https://pixelfed.social",
    "username": "jocker",
    "token": "pf_at_9876543210fedcba98765...",
    "cache_ttl": 3600,
    "max_pictures": all,
    "theme_mode": "light"
  }
}